src/main/resources/configs/client.dtd

<!ELEMENT clients (client)*>
        <!ELEMENT client (id, frequency, targets)>
        <!ELEMENT id (#PCDATA)>
        <!ELEMENT frequency (#PCDATA)>
        <!ELEMENT targets (target)*>
        <!ELEMENT target (nodeId, port, async, query, initialDelay)>
        <!ELEMENT nodeId (#PCDATA)>
        <!ELEMENT port (#PCDATA)>
        <!ELEMENT async (#PCDATA)>
        <!ELEMENT query (#PCDATA)>
        <!ELEMENT initialDelay (#PCDATA)>

